.singlePost{
    flex: 9;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0px;
}
.singlePostImg{
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 5px;
}
.signlePostTitle{
    margin: 20px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
}
.singlePostEdit{
    float: right;
    font-size: 16px;
}
.singlePostIcon{
    margin-left: 13px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.singlePostDesc{
    color: #666;
    font-style: 18px;
    line-height: 20px;
}
.singlePostDesc::first-letter{
    margin-left: 24px;
    font-size: 30px;
    font-weight: 600;
    color:#666;
}